.pageHome {
    &>*:not(:last-child) {
        margin-block-end: 16px;
    }

    .userPhoto {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }

    .btnContainer {
        display: flex;

        @media (min-width: 992px) {
            justify-content: center;
        }
    }

    .btnAction {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        color: var(--color-primary);
    }
}