.interfacNav {
    align-items: center;
    margin-block-end: 40px !important;
    padding-block: 24px;
    @media (min-width: 768px) {
        margin-inline-start: 40px;
        margin-inline-end: 100px;
        margin-block-end: 100px !important;
    }
}

.heading {
    font-size: 40px;
    margin-block-end: 40px;
    color: var(--color-primary);
    @media (min-width: 768px) {
        margin-block-end: 100px;
        font-size: 3.2em;
    }
}

